#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-image: url("../assets/background.jpg");
}

.navbar > ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar > ul > li {
  float: left;
  display: block;
  padding: 8px;
  background-color: black;
  border-radius: 25%;
  margin: 10px;
  font-size: xx-large;
  cursor: pointer;
  filter: drop-shadow(0 0 0.5em #454748aa);
  transition: filter 300ms;
  transition: transform 300ms ease-in-out;
}

.navbar > ul > li:hover {
  filter: drop-shadow(0 0 2em #bbbbbcaa);
  transform: rotate(5deg);
}

.navbar > ul > li:active {
  transform: scale(0.93) rotate(5deg);
}

.footer {
  background-color: rgb(66, 66, 66);
  margin: auto;
  padding: auto;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-top: 20px;
  width: 250px;
  border-radius: 5%;
}



.presentation {
  width: 1000px;
  height: 500px;
  margin: auto;
  padding: auto;
  background-color: #1a1a1a;
  border-radius: 3%;

  display: flex;
  justify-content: center; /* Optional: center horizontally */
  align-items: center;
}


.presentationText {
  text-align: center; /* Optional: center text within the container */
}

.title{ 
  margin: 0;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 700;
}

.connectButton{
  display: inline-block;
  text-align: center;
  background-color: #1a1a1a;
}


.header {
  display: flex;
  justify-content: center; /* Center the title horizontally */
  align-items: center; /* Align items vertically */
  width: 100%; /* Make header take the full width */
  position: relative;
  padding: 10px; /* Optional: Add some padding */
}

.connectButtonHeader {
  display: block;
  position: absolute;
  right: 0px; /* Adjust as needed to fine-tune position */
  /* top: 10px; Adjust as needed to fine-tune position */
}

.title {
  flex-grow: 1;
  text-align: center;
  margin: 0; /* Remove default margin for better alignment */
}

.rocket{
  cursor: pointer;
  transition-duration: 300ms;
}

.rocket:hover{
  transform: scale(1.1);
}

.rocket:active:enabled{
  transform: scale(0.90);
}

.rocket:disabled{
  filter: grayscale(70%);
}

.selector{
  border: none;
}